@import url('http://fonts.cdnfonts.com/css/sans-comic-sans?styles=62161');



.containerGlobe {

    width: 500px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
     font-family: 'Sans Comic Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
}


.containerInput {
    width: 500px;
    height: 15px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;
    padding: 30px;

    background-color: mediumvioletred;

}


.containerFlag {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    color: blue;
    font-size: 40px;
    font-family: cursive;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: mediumvioletred;
}


.containerText {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    padding: 30px;
    background-color: mediumvioletred;
 }

#searchButton {

    background-color: green;
}